*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fol{
    width: 50%;
    height: 400px;
    margin: auto;
    box-shadow: 1px 1px 10px rgb(63, 63, 192);
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    position: relative;
}
button{
    background-color: rgb(63, 63, 192);
    color: white;
    padding: 5px 30px;
    border-radius: 20px;
    border: none;
}
#nobtn{
    position: absolute;
}


@media screen and (max-width: 500px){
    .fol{
        width: 80%;
        margin: auto;
        box-shadow: 1px 1px 10px rgb(63, 63, 192);
        padding: 20px;
        margin-top: 20px;
        text-align: center;
        position: relative;
    }
    button{
        background-color: rgb(63, 63, 192);
        color: white;
        padding: 5px 30px;
        border-radius: 20px;
        border: none;
    }
    #nobtn{
        position: absolute;
    }
}